{% load static %}
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top">
  <div class="container">
    <!-- refactor the index.html -->
    <a class="navbar-brand" href="{% url 'index' %}">
      <!-- logo also need to update the assets folder -->
      <img src="{% static 'img/logo.png' %}" class="logo" alt="" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavAltMarkup"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <ul class="navbar-nav">
        <!-- set condition active of the selection-->
        <li 
          {% if '/' == request.path %}
          class="nav-item active mr-3"
          {% else %}
          class="nav-item mr-3" 
          {% endif %}
          >
          <!-- refactor the html based on pages/urls -->
          <a class="nav-link" href="{% url 'index' %}">Home</a>
        </li>
        <!-- copy from above for about -->
        <li 
          {% if 'about' in request.path %}
          class="nav-item active mr-3"
          {% else %}
          class="nav-item mr-3" 
          {% endif %}
          >
          <a class="nav-link" href="{% url 'about' %}">About</a>
        </li>
        <!-- fixing the listings links and if block for highlight-->
        <li 
        {% if 'listings' in request.path %}
        class="nav-item active mr-3"
        {% else %}
        class="nav-item mr-3" 
        {% endif %} 
        >
          <a class="nav-link" href="{% url 'listings' %}">Featured Listings</a>
        </li>
      </ul>

      <ul class="navbar-nav ml-auto">
        <li class="nav-item mr-3">
          <a class="nav-link" href="register.html">
            <i class="fas fa-user-plus"></i> Register</a
          >
        </li>
        <li class="nav-item mr-3">
          <a class="nav-link" href="login.html">
            <i class="fas fa-sign-in-alt"></i>

            Login</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
