{% load static %}
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top">
  <div class="container">
    <!-- refactor the index.html -->
    <a class="navbar-brand" href="{% url 'index' %}">
      <!-- logo also need to update the assets folder -->
      <img src="{% static 'img/logo.png' %}" class="logo" alt="" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavAltMarkup"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <ul class="navbar-nav">
        <!-- set condition active of the selection-->
        <li 
          {% if '/' == request.path %}
          class="nav-item active mr-3"
          {% else %}
          class="nav-item mr-3" 
          {% endif %}
          >
          <!-- refactor the html based on pages/urls -->
          <a class="nav-link" href="{% url 'index' %}">Home</a>
        </li>
        <!-- copy from above for about -->
        <li 
          {% if 'about' in request.path %}
          class="nav-item active mr-3"
          {% else %}
          class="nav-item mr-3" 
          {% endif %}
          >
          <a class="nav-link" href="{% url 'about' %}">About</a>
        </li>
        <!-- fixing the listings links and if block for highlight-->
        <li 
        {% if 'listings' in request.path %}
        class="nav-item active mr-3"
        {% else %}
        class="nav-item mr-3" 
        {% endif %} 
        >
          <a class="nav-link" href="{% url 'listings' %}">Featured Listings</a>
        </li>
      </ul>
<!-- login account related section and update the highlight link -->
      <ul class="navbar-nav ml-auto">
        <!-- if login then show logout -->
        {% if user.is_authenticated %}
        <!-- copy the register li and rename to dashboard-->
        <li 
        {% if 'dashboard' in request.path %}
        class="nav-item active mr-3"
        {% else %}
        class="nav-item mr-3" 
        {% endif %} >
          <a class="nav-link" href="{% url 'dashboard' %}">welcome {{ user.username }} (Dashboard)</a
          >
        </li>
        <!-- add logout form-->
        <li class="nav-item mr-3">
          <a href="javascript:{document.getElementById('logout').submit()}" class="nav-link">
            <i class="fas fa-sign-out-alt"></i>Logout
          </a>
            <form action="{% url 'logout' %}" method="POST" id="logout">
              {% csrf_token %}
              <input type="hidden">
            </form>
        </li>
        {% else %}
        <!-- not login yet then show both login and register -->
        <li 
        {% if 'register' in request.path %}
        class="nav-item active mr-3"
        {% else %}
        class="nav-item mr-3" 
        {% endif %} >
          <a class="nav-link" href="{% url 'register' %}">
            <i class="fas fa-user-plus"></i> Register</a
          >
        </li>
        <li {% if 'login' in request.path %}
        class="nav-item active mr-3"
        {% else %}
        class="nav-item mr-3" 
        {% endif %} >
          <a class="nav-link" href="{% url 'login' %}">
            <i class="fas fa-sign-in-alt"></i>

            Login</a
          >
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
